{% extends 'nav.html'%}
{% block start %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>D & F RESTAURANT- Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/fav.JPEG' %}" rel="icon">
  <link href="{% static 'assets/img/logo.JPEG' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle"> <br>
      <h1>D <span style="color: red;">&</span> F RESTAURANT</h1>
      <nav>

        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="row">
      <div class="card">
        <div class="card-body"> <br>
          <div class="container">
            <div class="row">
              <div class="col-5 col-sm-3">
                <span class="card-title">{{det.name}}</span>

              </div>
              <div class="col-4 col-sm-3">
                <span><b>Price :</b><label for="" style="text-decoration: line-through double;">N</label>
                  {{det.price|floatformat:2}}</span> <br> <br>
              </div>
              <div class="col-3">
              <a href="/add_to_cart/{{det.id}}" class="btn btn-outline-primary">Add To Cart</a>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <a href="{{det.imageURL}}">
                  <img src="{{det.imageURL}}" alt="Menu Item" width="300vmx"> <br> <br>
                </a>
              </div>
              <div class="col-xs-6 col-sm-6">
                <p>{{det.details}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>D & F RESTAURANT</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by TECH & TUNES
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
{% endblock %}

</html>